RewriteEngine On
RewriteBase /

# Если файл или папка существуют, отдаём их
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Если нет слэша в конце → добавляем слэш
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ /$1/ [R=301,L]
