---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Планирование огорода и сада" description="Где что сажать, сезонность.">
  <Header />
  <div class="container">
    <h1>Планирование огорода и сада</h1>
    <p class="small">Где что сажать, сезонность.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Основы планирования огорода, ротация культур, подготовка грядок.</pre>
    </article>
  </div>
</MainLayout>
