---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Как установить входную дверь" description="Пошаговая инструкция по установке.">
  <Header />
  <div class="container">
    <h1>Как установить входную дверь</h1>
    <p class="small">Пошаговая инструкция по установке.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Пошаговая инструкция: подготовка проёма, регулировка, монтаж коробки, установка полотна, монтаж фурнитуры.</pre>
    </article>
  </div>
</MainLayout>
