---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Освещение в доме: как сделать правильно" description="Типы светильников, схемы, мощность.">
  <Header />
  <div class="container">
    <h1>Освещение в доме: как сделать правильно</h1>
    <p class="small">Типы светильников, схемы, мощность.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Зонирование, виды светильников, выбор LED и управление освещением.</pre>
    </article>
  </div>
</MainLayout>
