---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Основы сантехники для дома" description="Замена смесителя, устранение протечек.">
  <Header />
  <div class="container">
    <h1>Основы сантехники для дома</h1>
    <p class="small">Замена смесителя, устранение протечек.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Как поменять смеситель, как устранить течь, профилактика.</pre>
    </article>
  </div>
</MainLayout>
