---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Как выбрать электроинструмент для дома" description="Дрели, перфораторы, шуруповёрты.">
  <Header />
  <div class="container">
    <h1>Как выбрать электроинструмент для дома</h1>
    <p class="small">Дрели, перфораторы, шуруповёрты.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Что нужно для мелкого ремонта, советы по брендам и типам.</pre>
    </article>
  </div>
</MainLayout>
