---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
---
<MainLayout title="Типы окон и их характеристики" description="ПВХ, дерево, алюминий.">
  <Header />
  <div class="container">
    <h1>Типы окон и их характеристики</h1>
    <p class="small">ПВХ, дерево, алюминий.</p>

    <article style="margin-top:18px;">
      <pre style="white-space:pre-wrap; font-family:inherit;">Окна: профили, стеклопакеты, энергосбережение, монтаж.</pre>
    </article>
  </div>
</MainLayout>
