<header class="header">
  <div class="header-inner">
    <a class="logo" href="/">ARLIO</a>
    <nav>
      <a href="/guides.html" style="margin-right:18px;">Руководства</a>
      <a href="/categories.html">Категории</a>
      <a href="/about.html" style="margin-left:18px;">О проекте</a>
    </nav>
  </div>
</header>
