<header class="header">
  <div class="header-inner">
    <a class="logo" href="/">ORLAX</a>
    <nav>
      <a href="/guides" style="margin-right:18px;">Руководства</a>
      <a href="/categories">Категории</a>
      <a href="/about" style="margin-left:18px;">О проекте</a>
    </nav>
  </div>
</header>
